## various settings for the web application
SECRET_KEY = {secret key for django csrf}
DEBUG = {Boolean determining if the application is in debug mode}
# path to static files inside docker container
STATIC_ROOT = /var/www/adsigno/static
# path to media files inside docker container
MEDIA_ROOT = /var/www/adsigno/media
# comma separated list defining allowed hosts
ALLOWED_HOSTS = "127.0.0.1,0.0.0.0,localhost"
# comma separated list defining hosts trusted for cross site requests
CSRF_TRUSTED = ""

# Microsoft authentication
MS_CLIENT = {client id for ms authentication}
MS_SECRET = {client secret for ms authentication}
MS_TENANT = {tenant id for ms authentication}

## Super user credentials
SU_PASSWORD = {password for django superuser}
SU_USER_NAME = {username for django superuser}
SU_EMAIL = {email for django superuser}

## settings for docker compose

DOCKER_LOCAL_STATIC = {local path to static files used by both nginx and django}
DOCKER_LOCAL_MEDIA = {local path to media files used by both nginx and django}

DOCKER_REPO = {path to the location of this file}
DOCKER_JENKINS_CONFIG = {path to jenkins configuration}